html {
	background-color: #C9DF8A;
}

main {
	position: relative;
	padding: 20px;
	top: 350px;
	left: 380px;
	background-color: #77AB59;
	width: 70%;
}

nav {
	position: fixed;
	margin-top: 20px;
	margin-right: 10px;
	padding: 14px;
	display: inline-block;
	border: 3px, solid, black;
	background-color: #36802D;
	top: 430px;
	left: 10px;
	height: 400px;
}

.intro {
	position: relative;
	left: 400px;
}

#photo {
	position: fixed;
	display: inline;
	height: 50%;
	width: 25%;
	top: 20px;
}